<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>Server and Mustache are working.</p>
</body>
</html>